<h2><%= @user.name%>'s homepage </h2>
        <p><h4><a href="/clients">Existing clients</a></h4></p>
        <p><h4><a href="/clients/new">Add a new client</a></h4></p>
        <p><h4><a href="/logout">Log Out</a></h4></p>
