<h2>Your clients:</h2>

<ol>
<% @users_clients.each do |client|%>

	<h4><a href="/clients/<%=client.id%>"><li><%= client.business_name %></li></a></h4>

<% end %>
</ol>

<form action="/" method="get">
	<button type="submit" value="Back">BACK</button>
</form>



