<h2>Create a new client record: </h2>
<form class="" action="/clients" method="post">
	<p><label for="business_name">Your client's business name: </label></p>
	<p><input type="text" name="business_name" value=""></p>
	<p><label for="address">Your client's address: </label></p>
	<p><input type="text" name="address" value=""></p>
	<p><label for="email">Your client's email: </label></p>
	<p><input type="text" name="email" value=""></p>
	<p><label for="website">Your client's website: </label></p>
	<p><input type="text" name="website" value=""></p>
	<p><label for="projects">Your client's projects: </label></p>
	<p><input type="text" name="projects" value=""></p>
	<input type="submit" value="Create"></p>
</form>
